# Firebase
GoogleService-Info.plist

# Bundler
vendor/bundle/
Gemfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.app.dSYM.zip

# Build outputs
build/
*.ipa
