<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>231</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>231</string>
					<key>Timestamp</key>
					<string>781075825.167467</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    // MARK: - Image Cache Methods
    private func cacheImage(_ image: UIImage, for urlString: String) {
</string>
				<key>trailing</key>
				<string>        imageCacheQueue.async(flags: .barrier) { [weak self] in
            self?.imageCache[urlString] = image
        }
</string>
			</dict>
			<key>title</key>
			<string>마감 임박 체크</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>231</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>231</string>
					<key>Timestamp</key>
					<string>781075825.16745</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    // MARK: - Image Cache Methods
    private func cacheImage(_ image: UIImage, for urlString: String) {
</string>
				<key>trailing</key>
				<string>        imageCacheQueue.async(flags: .barrier) { [weak self] in
            self?.imageCache[urlString] = image
        }
</string>
			</dict>
			<key>title</key>
			<string>로딩 상태 어디 쓰지</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>231</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>231</string>
					<key>Timestamp</key>
					<string>781075825.1674629</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    // MARK: - Image Cache Methods
    private func cacheImage(_ image: UIImage, for urlString: String) {
</string>
				<key>trailing</key>
				<string>        imageCacheQueue.async(flags: .barrier) { [weak self] in
            self?.imageCache[urlString] = image
        }
</string>
			</dict>
			<key>title</key>
			<string>같은 url인데 마지막 / 하나만 차이나는 경우엔 어케할거?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>231</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>231</string>
					<key>Timestamp</key>
					<string>781075825.167457</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    // MARK: - Image Cache Methods
    private func cacheImage(_ image: UIImage, for urlString: String) {
</string>
				<key>trailing</key>
				<string>        imageCacheQueue.async(flags: .barrier) { [weak self] in
            self?.imageCache[urlString] = image
        }
</string>
			</dict>
			<key>title</key>
			<string>/ 하나 차이나는 같은 url은?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>231</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>231</string>
					<key>Timestamp</key>
					<string>781075825.167416</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    // MARK: - Image Cache Methods
    private func cacheImage(_ image: UIImage, for urlString: String) {
</string>
				<key>trailing</key>
				<string>        imageCacheQueue.async(flags: .barrier) { [weak self] in
            self?.imageCache[urlString] = image
        }
</string>
			</dict>
			<key>title</key>
			<string>이미지 안들어올 때 로고 이미지 넣어주기</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>231</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>231</string>
					<key>Timestamp</key>
					<string>781075825.16747</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    // MARK: - Image Cache Methods
    private func cacheImage(_ image: UIImage, for urlString: String) {
</string>
				<key>trailing</key>
				<string>        imageCacheQueue.async(flags: .barrier) { [weak self] in
            self?.imageCache[urlString] = image
        }
</string>
			</dict>
			<key>title</key>
			<string>캐시 관련 다시 보기</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>174</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>173</string>
					<key>Timestamp</key>
					<string>780969112.434763</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/View/EditLink/EditLinkViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let imageView = UIImageView()
</string>
				<key>leading</key>
				<string>    
    private let calendarIconImageView = {
</string>
				<key>trailing</key>
				<string>        let config = UIImage.SymbolConfiguration(pointSize: 18, weight: .medium)
        imageView.image = UIImage(systemName: "calendar", withConfiguration: config)
        imageView.tintColor = .systemGray3
</string>
			</dict>
			<key>title</key>
			<string>FSCalendar로 변환</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>15</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>14</string>
					<key>Timestamp</key>
					<string>780840138.656777</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Resource/CategoryColor.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            return .systemBlue
</string>
				<key>leading</key>
				<string>    static func color(index: Int) -&gt; UIColor {
        guard index &gt;= 0 &amp;&amp; index &lt; colors.count else {
</string>
				<key>trailing</key>
				<string>        }
        return colors[index]
    }
</string>
			</dict>
			<key>title</key>
			<string>앱 포인트 색상 정하면 변경</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>188</string>
					<key>StartingColumnNumber</key>
					<string>25</string>
					<key>StartingLineNumber</key>
					<string>187</string>
					<key>Timestamp</key>
					<string>781081057.943009</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/View/EditCategory/EditCategoryViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>        
        // 선택된 아이콘 업데이트
        selectedIconIndex</string>
				<key>trailing</key>
				<string>            .bind(with: self) { owner, _ in
                owner.updateIconButtons()
            }
</string>
			</dict>
			<key>title</key>
			<string>카테고리 글자 수 제한</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>183</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>182</string>
					<key>Timestamp</key>
					<string>780847506.380487</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/View/EditCategory/EditCategoryViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                owner.updateColorButtons()
</string>
				<key>leading</key>
				<string>        selectedColorIndex
            .bind(with: self) { owner, _ in
</string>
				<key>trailing</key>
				<string>            }
            .disposed(by: disposeBag)
        
</string>
			</dict>
			<key>title</key>
			<string>설명 글자 수 제한</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>314</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>313</string>
					<key>Timestamp</key>
					<string>780971303.5952311</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/View/EditLink/EditLinkViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        // 선택된 마감일 TextField에 바인딩
</string>
				<key>leading</key>
				<string>            .disposed(by: disposeBag)
        
</string>
				<key>trailing</key>
				<string>        dueDateTextField.inputView = datePicker
        
        // 완료 버튼 툴바
</string>
			</dict>
			<key>title</key>
			<string>매번 기존을 제거하고 생성하는 게 맞나?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>51</string>
					<key>StartingColumnNumber</key>
					<string>68</string>
					<key>StartingLineNumber</key>
					<string>50</string>
					<key>Timestamp</key>
					<string>780933454.420141</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/DataBase/CategoryRepository.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>    
    func addLink(title: String, url: String, description: String? = nil, categoryName: String, deadline: Date?) {
        guard let category = readCategory(name: categoryName) else {</string>
				<key>trailing</key>
				<string>            print("\(categoryName) 없음")
            return
        }
</string>
			</dict>
			<key>title</key>
			<string>옵션 중에 선택하게 해서 쓸 일이 없을지도?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>231</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>231</string>
					<key>Timestamp</key>
					<string>781075825.167444</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    // MARK: - Image Cache Methods
    private func cacheImage(_ image: UIImage, for urlString: String) {
</string>
				<key>trailing</key>
				<string>        imageCacheQueue.async(flags: .barrier) { [weak self] in
            self?.imageCache[urlString] = image
        }
</string>
			</dict>
			<key>title</key>
			<string>로딩 구현</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>58</string>
					<key>StartingColumnNumber</key>
					<string>26</string>
					<key>StartingLineNumber</key>
					<string>57</string>
					<key>Timestamp</key>
					<string>780938020.633551</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/DataBase/CategoryRepository.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string> nil {
</string>
				<key>leading</key>
				<string>        // 해당 카테고리 내에서만 중복 체크
        let existingLink = category.category.first { $0.url == url }
        if existingLink !=</string>
				<key>trailing</key>
				<string>            print("이미 \(categoryName) 카테고리에 존재하는 링크 \(url)")
            return
        }
</string>
			</dict>
			<key>title</key>
			<string>알림 추가</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
