<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>43</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>42</string>
					<key>Timestamp</key>
					<string>780850093.8973809</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var expiredLinksCount: Observable&lt;Int&gt; {
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>        return links.map { links in
            let now = Date()
            return links.filter { link in
</string>
			</dict>
			<key>title</key>
			<string>마감 임박 체크</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>53</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>52</string>
					<key>Timestamp</key>
					<string>780850093.898188</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    var isLoading: Observable&lt;Bool&gt; {
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>        return isLoadingSubject.asObservable()
    }
    
</string>
			</dict>
			<key>title</key>
			<string>로딩 상태 어디 쓰지</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>207</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>206</string>
					<key>Timestamp</key>
					<string>780900175.137985</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        if let index = currentLinks.firstIndex(where: { $0.url.absoluteString == linkMetadata.url.absoluteString }) {
</string>
				<key>leading</key>
				<string>        
        // 기존 링크 업데이트 또는 새 링크 추가
</string>
				<key>trailing</key>
				<string>            currentLinks[index] = linkMetadata
        } else {
            currentLinks.append(linkMetadata)
</string>
			</dict>
			<key>title</key>
			<string>같은 url인데 마지막 / 하나만 차이나는 경우엔 어케할거?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>120</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>119</string>
					<key>Timestamp</key>
					<string>780900175.136851</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func toggleLike(for url: URL) -&gt; Observable&lt;LinkMetadata?&gt; {
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>        let cacheKey = url.absoluteString
        
        guard let linkMetadata = linkCache[cacheKey] else {
</string>
			</dict>
			<key>title</key>
			<string>like는 굳이 이렇게 안써도 될거 같은데</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>140</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>139</string>
					<key>Timestamp</key>
					<string>780900175.137857</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        currentLinks.removeAll { $0.url.absoluteString == cacheKey }
</string>
				<key>leading</key>
				<string>        
        var currentLinks = linksSubject.value
</string>
				<key>trailing</key>
				<string>        linksSubject.accept(currentLinks)
        
        return Observable.just(true)
</string>
			</dict>
			<key>title</key>
			<string>/ 하나 차이나는 같은 url은?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>190</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>189</string>
					<key>Timestamp</key>
					<string>780900175.138283</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    let linkMetadata = LinkMetadata(url: url, title: metadata.title ?? url.absoluteString, description: metadata.value(forKey: "summary") as? String, thumbnailImage: nil)
</string>
				<key>leading</key>
				<string>                    }
                } else {
</string>
				<key>trailing</key>
				<string>                    observer.onNext(linkMetadata)
                    observer.onCompleted()
                }
</string>
			</dict>
			<key>title</key>
			<string>이미지 안들어올 때 로고 이미지 넣어주기</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>218</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>217</string>
					<key>Timestamp</key>
					<string>780900175.138401</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Manager/LinkManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func clearCache() {
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>        linkCache.removeAll()
        linksSubject.accept([])
    }
</string>
			</dict>
			<key>title</key>
			<string>캐시 관련 다시 보기</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>174</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>173</string>
					<key>Timestamp</key>
					<string>780906909.541057</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/View/EditLink/EditLinkViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        picker.preferredDatePickerStyle = .inline
</string>
				<key>leading</key>
				<string>        let picker = UIDatePicker()
        picker.datePickerMode = .date
</string>
				<key>trailing</key>
				<string>        return picker
    }()
    
</string>
			</dict>
			<key>title</key>
			<string>FSCalendar로 변환</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>15</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>14</string>
					<key>Timestamp</key>
					<string>780840138.656777</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/Resource/CategoryColor.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            return .systemBlue
</string>
				<key>leading</key>
				<string>    static func color(index: Int) -&gt; UIColor {
        guard index &gt;= 0 &amp;&amp; index &lt; colors.count else {
</string>
				<key>trailing</key>
				<string>        }
        return colors[index]
    }
</string>
			</dict>
			<key>title</key>
			<string>앱 포인트 색상 정하면 변경</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>188</string>
					<key>StartingColumnNumber</key>
					<string>79</string>
					<key>StartingLineNumber</key>
					<string>187</string>
					<key>Timestamp</key>
					<string>780840602.15912</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/View/EditCategory/EditCategoryViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>                let (name, memo, colorIndex, iconIndex) = value
                
                guard !name.trimmingCharacters(in: .whitespaces).isEmpty else {</string>
				<key>trailing</key>
				<string>                    owner.showAlert(title: "카테고리 이름 작성", message: "카테고리 이름은 필수값입니다")
                    return
                }
</string>
			</dict>
			<key>title</key>
			<string>카테고리 글자 수 제한</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>183</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>182</string>
					<key>Timestamp</key>
					<string>780847506.380487</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/View/EditCategory/EditCategoryViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        createButton.rx.tap
</string>
				<key>leading</key>
				<string>            .disposed(by: disposeBag)
        
</string>
				<key>trailing</key>
				<string>            .withLatestFrom(Observable.combineLatest(categoryNameTextField.rx.text.orEmpty, descriptionTextField.rx.text.orEmpty, selectedColorIndex.asObservable(), selectedIconIndex.asObservable()))
            .bind(with: self) { owner, value in
                let (name, memo, colorIndex, iconIndex) = value
</string>
			</dict>
			<key>title</key>
			<string>설명 글자 수 제한</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>274</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>273</string>
					<key>Timestamp</key>
					<string>780908449.336084</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/View/EditLink/EditLinkViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        // 새로운 버튼 생성
</string>
				<key>leading</key>
				<string>        categoryTagsStackView.arrangedSubviews.forEach { $0.removeFromSuperview() } // 기존 버튼 제거
        
</string>
				<key>trailing</key>
				<string>        categories.forEach { category in
            let button = UIButton(type: .system)
            button.setTitle(category.name, for: .normal)
</string>
			</dict>
			<key>title</key>
			<string>매번 기존을 제거하고 생성하는 게 맞나?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>51</string>
					<key>StartingColumnNumber</key>
					<string>68</string>
					<key>StartingLineNumber</key>
					<string>50</string>
					<key>Timestamp</key>
					<string>780849755.454021</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Clippy/DataBase/CategoryRepository.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>    
    func addLink(title: String, url: String, description: String? = nil, categoryName: String, deadline: Date?) {
        guard let category = readCategory(name: categoryName) else {</string>
				<key>trailing</key>
				<string>            print("\(categoryName) 없음")
            return
        }
</string>
			</dict>
			<key>title</key>
			<string>옵션 중에 선택하게 해서 쓸 일이 없을지도?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
